#wc {
    @import "/Melify/tools/orion/webpack-template/node_modules/noty/lib/noty.css";
    @import "/Melify/tools/orion/webpack-template/node_modules/noty/lib/themes/bootstrap-v4.css";

    // ANIMATION EFFECT
    .noty_effects_open {
	opacity: 0;
	transform: translate(0%);
	animation: noty_anim_in 1.0s;
    }
    
    .noty_effects_close {
	animation: noty_anim_out 0.5s;
    }
    
    @keyframes noty_anim_in {
	100% {
            transform: translate(0%);
            opacity: 1;
	}
    }
    
    @keyframes noty_anim_out {
	100% {
            transform: translate(0%);
            opacity: 0;
	}
    }
    
    .noty_type__default {
	background: #FFF!important;
	border:1px #CCC solid!important;
    }
    
    .noty_type__transparent {
	background: transparent!important;
	border:0!important;
    }
    
    .btn-noty {
	min-width: 100px;
	margin-right:5px!important;
    }
}
