@import "variables";
@import "mixins";
@import "colors";

///////////////////////////////////////////
// wc-table
///////////////////////////////////////////
#wc {
    wc-table {
	display: block;
	visibility: hidden;
	
	table {
	    background: #FFF;
	}
    }
}


