$wc-font-xxs:	10px!important;
$wc-font-xs:	12px!important;
$wc-font-sm:	14px!important;
$wc-font-md:	16px!important;
$wc-font-lg:	20px!important;
$wc-font-xl:	30px!important;
$wc-font-xxl:	46px!important;

$wc-font-size-base:	$wc-font-md;
$wc-font-family-base:	fl;

$wc-white:		#FFFFFF;
$wc-gray-100:		#f8f9fa;
$wc-gray-200:		#e9ecef;
$wc-gray-300:		#dee2e6;
$wc-gray-400:		#ced4da;
$wc-gray-500:		#adb5bd;
$wc-gray-600:		#6c757d;
$wc-gray-700:		#495057;
$wc-gray-800:		#343a40;
$wc-gray-900:		#212529;
$wc-black:		#000000;

$wc-blue:		#007bff;
$wc-indigo:		#6610f2;
$wc-purple:		#6f42c1;
$wc-pink:		#e83e8c;
$wc-red:		#dc3545;
$wc-orange:		#fd7e14;
$wc-yellow:		yellow;
$wc-green:		#28a745;
$wc-teal:		#20c997;
$wc-cyan:		#17a2b8;

