# -*- mode: snippet -*-
# name: j-namespace
# key: j
# --
/////////////////////////////////////////////////////////////////////////////////
//// Time-stamp: <2019-01-08 19:00:54 (melify)>
/////////////////////////////////////////////////////////////////////////////////
var $1 = {};

/////////////////////////////////////////////////////////////////////////
//// 
/////////////////////////////////////////////////////////////////////////////
$1.init = function(options) {
    console.group(\"$1.init\");

    console.groupEnd();
};
